.card{
  border:1px solid black;
  cursor: pointer;
  height: 15rem;
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}